@font-face {
    font-family: "chosunGu";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/chosunGu/chosunGu.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/chosunGu/chosunGu.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/chosunGu/chosunGu.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/chosunGu/chosunGu.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/chosunGu/chosunGu.ttf") format("truetype");
    font-display: swap;
} 
.chosunGu {
    font-family: "chosunGu";
}